<div>
  <%= form_tag nfts_path, method: :get, class: "d-flex justify-content-center" do %>
      <%= text_field_tag :search,
        params[:search],
        class: "w-50 mr-3",
        placeholder: "Search by name"
      %>
      <%= submit_tag "Search", class: "btn btn-dark" %>
  <% end %>
</div>

<div class="d-flex">
  <div class="bar-option">Filter</div>
  <div class="bar-option">
    Sort
    <div>
      <%= link_to "Name", sort: :name, order: :ASC %>
      <%= link_to "Latest", sort: :created_at, order: :DESC %>
      <%= link_to "Price Increase", sort: :price, order: :ASC %>
      <%= link_to "Price Decrease", sort: :price, order: :DESC %>
    </div>
  </div>

  <div class="bar-option">Map toggle</div>
</div>
