<div class="container">

  <div class="filter-bar row d-flex">
    <div>Left: search bar</div>
    <div class="d-flex">
      <div class="bar-option">Filter</div>
      <div class="bar-option">Sort</div>
      <div class="bar-option">Map toggle</div>
    </div>
  </div>

  <div class="row d-flex">
    <div>
      <% @nfts.each do |nft| %>
        <div class="card">
          <div>
            <% if nft.image.attached? %>
              <%= cl_image_tag nft.image.key, class: "card-image" %>
            <% else %>
                <img src="https://res.cloudinary.com/vivienz/image/upload/v1622743600/utamb4q9bjfe5st9zumg0wxlxo2r.jpg" alt="pic" class="card-image">
            <% end %>
          </div>
          <div class="border">
              <%= link_to "#{nft.name.capitalize}", nft_path(nft) %>
              <div id="price"><%= number_to_currency(nft.price) %> /day</div>
          </div>
        </div>
      <% end %>
    </div>

  <div id="map"
    style="width: 50vw; height: calc(100vh - 76px);"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>